#cart {
  position: absolute;
  width: 60%;
  top: 0;
  right: 0;
  background-color: black;
  color: white;
  display: none;
  box-shadow: 1px 1px 20px 20px rgba(0, 0, 0, 0.425);
  z-index: 1;
  .cart_content {
    position: relative;
    height: 100vh;
    padding: 30px;

    .cart_header {
      button {
        position: absolute;
        top: 10px;
        right: 30px;
        background-color: transparent;

        i {
          color: white;
          width: 30px;
          height: 30px;
          line-height: 30px;
          border-radius: 50%;
          border: solid 1px white;
          transition: all 0.3s;
        }

        &:hover {
          i {
            background-color: white;
            color: black;
          }
        }
      }
    }

    .cart_item {
      ul {
        li {
          &::after {
            content: "";
            margin: 5px 0;
            background-color: white;
            width: 100%;
            height: 1px;
          }
        }

        // .icon {
        //     i {
        //         border-radius: 50%;
        //         border: 1px solid white;
        //         width: 30px;
        //         height: 30px;
        //         line-height: 30px;
        //         text-align: center;
        //     }
        // }
      }
    }

    .tb_cart {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      font-size: 50px;
      color: gray;

      @media screen and (max-width: 1199px) {
        font-size: 40px;
      }

      
      @media screen and (max-width: 1199px) {
        font-size: 30px;
      }
    }

    .pay_price {
      position: absolute;
      bottom: 50px;
      right: 50px;

      button {
        margin: 10px;
        color: white;
        border: 1px solid white;
        padding: 10px 20px;
        border-radius: 10px;
        transition: all 1s;
        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
  }
}

// //Responsive
// @media screen and (max-width: 1199px) {
//   #cart {
//     .cart_content {
//       .tb_cart {
//         font-size: 40px;
//       }
//     }
//   }
// }

// @media screen and (max-width: 991px) {
//   #cart {
//     .cart_content {
//       .tb_cart {
//         font-size: 30px;
//       }
//     }
//   }
// }
