.shop{
    #counter{
        position: absolute;
        top: 15px;
        right: 15px;
        border-radius: 50%;
        background-color: white;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
    }
    i{
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        transition: all 0.5s;
        &:hover{
            color: white;
        }
    }
    #selectPhone{
        background-color: black;
        padding: 5px 15px;
        border-radius: 20px;
        color: white;
        cursor: pointer;
    }
}
