body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: -webkit-gradient(linear, left top, right top, from(red), to(purple));
  background-image: linear-gradient(to right, red, purple);
  height: 100vh;
}

#cardList {
  background-color: rgba(255, 0, 0, 0);
  border: none;
  margin-top: 100px;
}

#cardList .card_item {
  padding: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#cardList .card_item .card {
  border-radius: 30px;
  background-color: black;
}

#cardList .card_item .card .icon {
  color: white;
}

#cardList .card_item .card .icon span {
  font-style: italic;
  color: green;
}

#cardList .card_item .card .card-img-top {
  margin: 2rem 0;
}

#cardList .card_item .card .card-body {
  background-color: #2e2f33;
  color: white;
  border-radius: 30px;
  margin-top: 10px;
}

#cardList .card_item .card .card-body .content {
  display: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#cardList .card_item .card .card-body button {
  border: 1px solid white;
  border-radius: 30px;
}

#cardList .card_item:hover {
  padding: 0;
}

#cardList .card_item:hover .card-body .content {
  display: block;
}

#cardList .card_item .card button {
  border: 1px solid white;
  background-color: transparent;
  border-radius: 30px;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#cardList .card_item .card button:hover {
  background: white;
  color: black;
}

#cart .cart_content .cart_item #listCart button {
  background-color: transparent;
}

#cart .cart_content .cart_item #listCart button i {
  border-radius: 50%;
  border: 1px solid white;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 991px) {
  #cart .cart_content .cart_item #listCart button i {
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
  }
}

#cart .cart_content .cart_item #listCart button i:hover {
  color: black;
  background-color: white;
}

.shop #counter {
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 50%;
  background-color: white;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.shop i {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.shop i:hover {
  color: white;
}

.shop #selectPhone {
  background-color: black;
  padding: 5px 15px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

#cart {
  position: absolute;
  width: 60%;
  top: 0;
  right: 0;
  background-color: black;
  color: white;
  display: none;
  -webkit-box-shadow: 1px 1px 20px 20px rgba(0, 0, 0, 0.425);
          box-shadow: 1px 1px 20px 20px rgba(0, 0, 0, 0.425);
  z-index: 1;
}

#cart .cart_content {
  position: relative;
  height: 100vh;
  padding: 30px;
}

#cart .cart_content .cart_header button {
  position: absolute;
  top: 10px;
  right: 30px;
  background-color: transparent;
}

#cart .cart_content .cart_header button i {
  color: white;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  border: solid 1px white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#cart .cart_content .cart_header button:hover i {
  background-color: white;
  color: black;
}

#cart .cart_content .cart_item ul li::after {
  content: "";
  margin: 5px 0;
  background-color: white;
  width: 100%;
  height: 1px;
}

#cart .cart_content .tb_cart {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  font-size: 50px;
  color: gray;
}

@media screen and (max-width: 1199px) {
  #cart .cart_content .tb_cart {
    font-size: 40px;
  }
}

@media screen and (max-width: 1199px) {
  #cart .cart_content .tb_cart {
    font-size: 30px;
  }
}

#cart .cart_content .pay_price {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

#cart .cart_content .pay_price button {
  margin: 10px;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#cart .cart_content .pay_price button:hover {
  background-color: white;
  color: black;
}

#orderNow {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

#orderNow .container {
  color: white;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#orderNow .container .orderNow_content, #orderNow .container .placed, #orderNow .container .continue {
  height: 90%;
  width: 100%;
  margin: auto;
  position: relative;
  border-radius: 20px;
  background-color: black;
  padding: 40px;
}

#orderNow .container .orderNow_content .btn_group, #orderNow .container .placed .btn_group, #orderNow .container .continue .btn_group {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

#orderNow .container .placed, #orderNow .container .continue {
  width: 30%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#orderNow .container .continue {
  width: 50%;
  height: 20%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#blur {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.801);
  display: none;
}
/*# sourceMappingURL=style.css.map */