#cardList {
  .card_item {
    .card {
      button {
        border: 1px solid white;
        background-color: transparent;
        border-radius: 30px;
        color: white;
        transition: all 0.5s;

        &:hover {
          background: white;
          color: black;
        }
      }
    }
  }
}

#cart {
  .cart_content {
    .cart_item {
      #listCart {
        button {
          background-color: transparent;

          i {
            border-radius: 50%;
            border: 1px solid white;
            width: 25px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            color: white;
            transition: all 0.3s;

            @media screen and (max-width: 991px) {
              width: 18px;
              height: 18px;
              line-height: 18px;
              font-size: 12px;
            }

            &:hover {
              color: black;
              background-color: white;
            }
          }
        }
      }
    }
  }
}
